[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
pyotp = "*"
django-cors-headers = "*"
pandas = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.13"
